$background-color-night: #000;
$background-color-light: #fff;

$text-color-light: #FFF;
$text-color-night: #000;

$input-border-color-night: #FFF;
$input-border-color-light: rgba(0,0,0, 0.3) ;

$input-background-color-night: #0C0C0C;
$input-background-color-light: #FFF;

$input-placeholder-color-night: rgba(255,255,255,0.3);
$input-placeholder-color-light: rgba(0,0,0, 0.3);

$pagination-disable-light: rgba(0,0,0, 0.3);
$pagination-disable-night: rgba(255,255,255,0.3);

$pagination-active-bg-light: #000;
$pagination-active-bg-night: #FFF;

$pagination-bg-light: #FFF;
$pagination-bg-night: #000;

$pagination-hover-bg-light: #EDEDED;
$pagination-hover-bg-night: #464646;